.login-container {
  background-color: rgba(228, 232, 229, 0.2);
  height: auto;
  margin: 1em auto;
  border-radius: 17px;
  width: 80%;
  display: flex;
}
#inputlogin {
  height: 2.7rem;
  width: 70%;
  margin: auto auto;
  border: 3px solid rgb(5, 11, 8);
  border-radius: 5px;
  font-size: 1.4rem;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}
.logForm {
  display: flex;
  flex-direction: column;
  color: black;
  width: 80%;
  margin: 2em auto;
  background-color: rgba(17, 20, 19, 0.6);
  border-radius: 12px;
}
.labelName {
  font-size: 1.5rem;
  color: rgb(215, 227, 230);
}
.logdisplayer {
  display: flex;
  flex-direction: column;
}
.login-btn {
  width: 25%;
  margin: 2rem auto;
  color: rgb(255, 255, 255);
  background-color: rgb(74, 141, 76);
  border: 0.1px;
  padding: 1em;
  border-radius: 5px;
}
.login-btn:hover {
  background-color: rgb(9, 61, 11);
}
.login-btn:active {
  transform: translatex(2em);
  color: black;
  background-color: rgb(33, 207, 204);
}
