.form-container {
  background-color: rgba(228, 232, 229, 0.2);
  height: auto;
  margin: 4em auto;
  border-radius: 17px;
  width: 80%;
  display: flex;
}
.regForm {
  display: flex;
  flex-direction: column;
  color: black;
  width: 80%;

  margin: 10% auto;
  background-color: rgba(127, 255, 212, 0.1);
}
input {
  width: 80%;
  height: 3.5rem;
  margin: auto auto;
  border: 3px solid rgb(14, 152, 81);
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  background-color: rgba(192, 205, 216, 0.4);
  text-align: center;
  align-items: center;
}
.inputdisplayer {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 1.6rem;
  color: rgb(4, 46, 57);
  margin-bottom: 0.3em;
}
label:first-child {
  margin-top: 2rem;
}

.submit-btn {
  width: 25%;
  margin: 2rem auto;
  color: rgb(255, 255, 255);
  background-color: rgb(74, 141, 76);
  padding: 1em;
  border-radius: 5px;
}
.submit-btn:hover {
  background-color: rgb(9, 61, 11);
}
.submit-btn:active {
  transform: translatex(2em);
  color: black;
  background-color: rgb(33, 207, 204);
}
@media only screen and (max-width: 500px) {
  .form-container {
    padding-bottom: 1em;
    width: 95%;
    height: auto;
    margin-top: 1em;
  }
  .regForm {
    margin: 3em auto 4em auto;
  }
}
@media only screen and (max-width: 311px) {
  .regForm {
    margin: 2em auto 4em auto;
    width: 97%;
  }
}
