.form-container {
  background-color: rgba(228, 232, 229, 0.2);
  height: auto;
  margin: 1em auto;
  border-radius: 17px;
  width: 80%;
  display: flex;
}
.regForm {
  display: flex;
  flex-direction: column;
  color: black;
  width: 80%;
  margin: 2em auto;
  background-color: rgba(17, 20, 19, 0.6);
  border-radius: 12px;
}
input {
  width: 60%;
  height: 2.7rem;
  margin: auto auto;
  border: 3px solid rgb(5, 11, 8);
  border-radius: 5px;
  font-size: 1.4rem;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}
.inputdisplayer {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 1.5rem;
  color: rgb(215, 227, 230);
}
.submit-btn {
  width: 25%;
  margin: 2rem auto;
  color: rgb(255, 255, 255);
  background-color: rgb(74, 141, 76);
  border: 0.1px;
  padding: 1em;
  border-radius: 5px;
}
.submit-btn:hover {
  background-color: rgb(9, 61, 11);
}
.submit-btn:active {
  transform: translatex(2em);
  color: black;
  background-color: rgb(33, 207, 204);
}
@media only screen and (max-width: 500px) {
  .form-container {
    padding-bottom: 1em;
    width: 95%;
    height: auto;
    margin-top: 1em;
  }
  .regForm {
    margin: 3em auto 4em auto;
  }
}
@media only screen and (max-width: 311px) {
  .regForm {
    margin: 2em auto 4em auto;
    width: 97%;
  }
}
