.heads {
  font-size: 1.6em;
}
.edit-Adv-Form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 50px 0px 0px 5px;
  width: 60%;
  padding: 1em 3em;
  margin: 2em auto;
}

.edit-Adv-Form :first-child {
  padding-top: 1.2em;
}
.inputHolder {
  position: relative;
  width: 70%;
  height: 1.8em;
  margin: 0.3rem auto 1rem auto;
  padding: 0.1rem 1.5em;
  font-size: 1.2rem;

  border: 1px solid green;
  color: rgb(0, 0, 0);
}
.labelName {
  font-size: 1.3em;
  color: rgb(0, 0, 0);
  margin: auto;
}
.edit-btn {
  margin: 1em auto 2rem auto;
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 0.5rem;
  width: 25%;
  border-radius: 7px;
  font-size: 1.4em;
}
.edit-btn:hover {
  background-color: rgb(5, 89, 30);
  color: aliceblue;
}
.edit-btn:active {
  background-color: rgb(12, 156, 56);
  transform: translateX(2em);
}
