.humburger,
.bar {
  display: none;
}
.side-Option {
  display: none;
}
#burger-op {
  color: #ffffff;
}
#burger-op:hover {
  color: bisque;
}
@media only screen and (max-width: 900px) {
  .humburger {
    display: block;
    float: right;
    margin-top: 0.3rem;
    margin-right: 1rem;
    width: 45px;
    height: 35px;
    cursor: pointer;
    background: none;
    border: none;
  }
  .humburger .bar,
  .humburger:after,
  .humburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-color: bisque;
    margin: 6px 0px;
    transition: 0.4s;
  }
  .humburger.is-active::before {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .humburger.is-active::after {
    transform: rotate(45deg) translate(-10px, -8px);
  }
  .humburger.is-active .bar {
    opacity: 0;
  }

  .side-Option {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(66, 59, 59, 0.5));
    width: 60%;
    height: 70vh;
    margin-left: 40%;
    right: -60%;
    transition: 0.5s;
  }
  .side-Option.activate {
    line-height: 2.5rem;
    height: 70vh;
    right: 0;
    transition: 0.5s;
    padding-right: auto;
    padding-left: auto;
  }
  #op2 {
    color: #ffffff;
  }
  #op2:hover {
    color: bisque;
  }
}
