@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Roboto:wght@100&display=swap");

#navbar {
  top: 0;
  margin-top: 2.5em;
  position: sticky;
  width: 100%;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.3em;
  z-index: 2;
  padding-top: 1em;
}

.logo {
  padding: 0rem 0rem 1rem 3rem;
  font-size: 2.7rem;
  float: left;
}
.active {
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  background-color: rgb(84, 83, 76);
}
.navLink {
  margin-inline: 1.2rem;
  padding: 0em 1em;
  float: right;
  font-size: 2rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.navLink:hover {
  text-decoration: none;
  color: rgb(190, 135, 205);
}

.dropdown {
  position: absolute;
  top: 7.2rem;
  right: 0.1rem;
  padding: 5px;
  width: 200px;
  border-radius: 8px;
  border: 2px solid black;
  background: rgb(13, 15, 20);
  z-index: 4;
}
.drop {
  padding-top: 1rem;
  font-size: 1.7rem;
  color: white;
}
.dropdown::before {
  content: " ";
  position: absolute;
  top: -0.3rem;
  right: 0rem;
  padding: 9px;
  width: 25px;
  height: 3px;
  transform: rotate(45deg);
  background: rgb(13, 15, 20);
  color: inherit;
}
.hidden {
  display: none;
}
.infos {
  color: rgb(247, 239, 239);
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  font-size: 2.8rem;
  font-family: "Lora", serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  z-index: 2;
}
@media only screen and (max-width: 1124px) {
  #navbar {
    margin-top: 0em;
  }
  .infos {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .navLink {
    display: none;
    font-size: 1.4rem;
  }
  .logo {
    padding: 0rem 0rem 1rem 0rem;
    font-size: 2rem;
    color: black;
  }
}
