@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Roboto:wght@100&display=swap");
* {
  color: white;
}
#navbar {
  top: 0;
  margin-top: 2.5em;
  position: sticky;
  width: 100%;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.3);
  /* background: rgb(20, 86, 192); */
  font-size: 1.3rem;
  z-index: 2;
  color: white;
}
.logo {
  padding: 0rem 0rem 1rem 3rem;
  font-size: 2.7rem;
  float: left;
}
.active {
  text-decoration: overline;
}

.nav {
  margin-inline: 1.2rem;
  padding: 0.8rem 0% 1px 2%;
  float: right;
  font-size: 1.7rem;
  color: white;
}
.nav:hover {
  color: rgb(108, 11, 135);
}
.dropdown {
  position: absolute;
  top: 5rem;
  right: 0.1rem;
  padding: 5px;
  width: 200px;
  border-radius: 8px;
  border: 2px solid black;
  background: rgb(13, 15, 20);
  z-index: 4;
}
.drop {
  padding-top: 1.4rem;
  font-size: 1.7rem;
}
.dropdown::before {
  content: " ";
  position: absolute;
  top: -0.3rem;
  right: 0rem;
  padding: 9px;
  width: 25px;
  height: 3px;
  transform: rotate(45deg);
  background: rgb(13, 15, 20);
  color: inherit;
}
.hidden {
  display: none;
}
.infos {
  color: rgb(247, 239, 239);
  background-color: black;
  /* background: rgb(20, 86, 192); */
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  font-size: 2.8rem;
  font-family: "Lora", serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  z-index: 2;
}
@media only screen and (max-width: 1124px) {
  #navbar {
    margin-top: 0em;
  }
  .infos {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .nav {
    display: none;
    font-size: 1.4rem;
  }

  .logo {
    padding: 0rem 0rem 1rem 0rem;
    font-size: 2rem;
    color: black;
  }
}
