@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
.benefits {
  position: relative;
  text-align: center;
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(199, 197, 197);
  margin-left: auto;
  margin-right: auto;
}
.benefitsContainer {
  width: 90%;
  background-color: rgb(199, 197, 197);
}
.benefitImg {
  width: 100%;
  height: 50dvh;
  border-radius: 20px;
}
.bottom-left {
  position: absolute;
  font-family: "Kaushan Script", cursive;
  font-size: 2em;
  bottom: 90px;
  left: 10%;
  color: #fcce51;
}

.benefitOverLay {
  position: absolute;
  top: 13.8%;
  left: 5%;
  right: 5%;
  background-color: rgba(55, 54, 51, 0.3);
  overflow: hidden;
  transition: 0.5s ease;
  height: 72%;
  border-radius: 20px;
}
@media only screen and (max-width: 600px) {
  .benefits {
    height: 50vh;
  }
  .benefitOverLay {
    position: absolute;
    top: 0%;
    left: 5%;
    right: 5%;
    background-color: rgba(55, 54, 51, 0.3);
    overflow: hidden;
    transition: 0.5s ease;
    height: 100%;
    border-radius: 20px;
  }
}
