* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: content-box;
}

.App {
  text-align: center;
}
.hate {
  background-color: rgb(154, 154, 154);
}

body {
  background-color: rgb(243, 246, 249);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(31, 30, 30, 0.9)),
    url("./asset/michel-stockman-JiOMMVeNUe4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.errDisplayer {
  color: rgb(255, 0, 0);
  margin: 0.5em auto;
  font-size: 1.2em;
  font-weight: 100;
  position: relative;
  z-index: 0;
  width: auto;
  padding: 0.4em;
}
