@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Roboto:wght@100&display=swap");

.image-container {
  margin-top: -1em;
}
.adBtn {
  border-radius: 20px;
}
.homequotes {
  width: 100%;
  align-items: center;
  font-size: 3em;
  background-color: rgba(11, 16, 14, 0.2);
  margin-top: 15%;
}
.quotes {
  color: rgb(252, 252, 198);
  background-color: rgba(24, 22, 22, 0.3);
}
.quotesby {
  color: rgb(181, 166, 148);
}

.intros {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8%;
  width: 50%;
  z-index: 0;
  background-color: rgba(15, 19, 15, 0.8);
  border-radius: 8px;
}
.homenots {
  color: bisque;
  margin-bottom: 1em;
}
.homenotsbtn {
  color: black;
  padding: 0.4em;
  font-size: 1.4em;
  width: 8em;
}
.home {
  display: none;
}
