@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.info {
  color: rgb(29, 37, 34);
  background: rgba(126, 128, 127, 0.3);
  margin: 3% 0% 0rem 0%;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.description {
  color: white;
  padding: 1rem;
  text-align: justify;
  text-indent: 2em;
  line-height: 1.5;
}
.location-name {
  color: blueviolet;
}
.item {
  background: #284138;
  height: 18em;
  padding: 2% 2% 12% 1%;
  border-top: 1px solid rgb(92, 194, 131);
  border-left: 1px solid rgb(92, 194, 131);
  border-radius: 15px 0px;
}
.imgey,
.imgex {
  margin-top: -15%;
}
.imgez {
  margin-top: 5%;
}
img {
  width: 300px;
  height: 200px;
}

.image-container {
  display: flex;
  width: 90%;
  margin: 15% auto 2rem auto;
  padding-top: 2em;
}
@media only screen and (max-width: 1097px) {
  .image-container {
    flex-direction: column;
    margin-top: 1%;
  }
  .item {
    margin-top: 2%;
    padding: 2% 2% 2% 1%;
    height: auto;
    display: flex;
  }
}
@media only screen and (max-width: 540px) {
  .item {
    display: block;
  }
}
.intros {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8%;
  width: 50%;
  z-index: 0;
  background-color: rgba(211, 248, 215, 0.9);
  border-radius: 8px;
}
.homenots {
  color: rgb(24, 17, 17);
  margin-bottom: 1em;
}
.homenotsbtn {
  color: black;
  width: 8em;
}
.home {
  display: none;
}
