@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Roboto:wght@100&display=swap");
.compassBody {
  width: 100%;
  background-image: url("../../asset/ali-kazal-Pk0xvWMbuok-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-origin: content-box;
  height: 92vh;
  /* margin-top: -5em; */
}
.image-container {
  width: 97%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 70vh; */

  margin-left: auto;
  margin-right: auto;
}

.adBtn {
  border-radius: 20px;
}
.homequotes {
  width: 70%;
  align-items: start;
  justify-content: start;
  text-align: start;
  /* background-color: rgba(11, 16, 14, 0.2); */
  margin-top: 2%;
}
.quotes {
  color: rgb(10, 10, 9);
  font-size: calc(26px + 0.9vw);
  /* background-color: rgba(24, 22, 22, 0.3); */
  /* margin-top: 5%; */
}
.quotesby {
  color: rgb(240, 231, 220);
}
.advice {
  margin-top: 0.5em;
  font-size: calc(22px + 0.9vw);
}
.advice h6 {
  /* font-size: 1em; */
  color: rgb(117, 116, 116);
  font-family: sans-serif;
}
.intros {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-height: 10em;
  z-index: 0;
  background-color: rgba(15, 19, 15, 0.8);
  border-radius: 8px;
  z-index: 2;
  padding: auto;
}
.homenots {
  color: bisque;
  margin: 1em;
}
.homenotsbtn {
  color: black;
  padding: 0.4em;
  font-size: 1.4em;
  width: 3em;
}
.home {
  display: none;
}

.listOfType {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
  gap: calc(2em + 0.1vw);
  bottom: 0;
  width: 100%;
  color: rgb(11, 11, 8);
  background-color: rgb(240, 248, 255, 0.5);
  overflow: hidden;
}
.typeOfAdv {
  width: 100%;

  /* margin-top: -2em; */
  /* 
  background-color: antiquewhite; */
}
@media only screen and (max-width: 1044px) {
  /* .listAdv {
    display: none;
  } */
}
h6 {
  min-width: 75%;
  /* font-size: 1em; */
  /* display: flex;
  flex-direction: row; */
  gap: -5px;
  font-size: calc(0.6em + 1vw);
}
#spin {
  color: rgb(181, 123, 47);
  display: flex;
  border: 2px solid black;
  width: 6em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#spin::after {
  content: "Postivity";
  animation: spin 10s linear infinite;
}
@keyframes spin {
  0% {
    content: "Simple";
  }
  50% {
    content: "Adventurous";
  }
  100% {
    content: "Exciting";
  }
}

@media only screen and (max-width: 420px) {
  .quotes {
    font-size: 2.2rem;
  }
}
