.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5% 5%;
  width: 65%;
  min-height: 10%;
  z-index: 0;
  background-color: rgba(247, 250, 247, 0.8);
  border-radius: 10px;
  border: 1px solid rgb(74, 69, 69);
}
.home {
  display: none;
}
.popOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.delete-btn,
.cancelDlt {
  padding: 0.4em;
  font-size: 1.2em;
  width: 8em;
  border-radius: 20px;
}
.delete-btn {
  background-color: rgb(234, 23, 23);
}
.cancelDlt {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.cancelDlt:hover {
  background-color: rgb(167, 241, 167);
}
.delete-btn:hover {
  background-color: rgb(247, 106, 106);
}
.popMsg {
  color: rgb(10, 9, 8);
  margin-bottom: 5%;
  font-size: 1.5em;
}
.adventure {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}
.details {
  top: 1em;
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: rgb(255, 255, 255);
  box-shadow: rgba(24, 24, 31, 0.25) 0px 50px 100px -20px,
    rgba(7, 6, 6, 0.3) 0px 30px 60px -30px;
  border-radius: 16px;
  padding: 1em 1em;
  margin: 2em auto auto auto;
}
.advDescription {
  margin: auto auto auto 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  background-color: antiquewhite;
}

.dis {
  padding: 0.5em;
  width: auto;
  color: white;
  margin-left: 10%;
}
.advImg {
  width: 18rem;
  height: 15rem;
  margin: auto;
}
.descriptionHead {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  justify-content: center;
  margin-bottom: 0.8em;
}
.nomeOfPlace,
.countryName {
  color: black;
  font-size: 1.5em;
}
.description {
  color: rgb(14, 13, 12);
  margin-top: 0.1em;
  padding: 0.4rem;
}
.imgEdit {
  display: flex;
  flex-direction: row;
}
.svg {
  margin-top: 0.8em;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2em;
}
.detailsSpot {
  margin-left: auto;
}
.editing {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.eyeSpot {
  font-size: 1.4em;
  color: black;
}
.deleteIcon,
.editIcon {
  font-size: 2.2em;
  cursor: pointer;
}
.likeDislike {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.editIcon {
  color: black;
}
.eyeSpot:hover {
  color: rgb(23, 80, 188);
}
.editIcon:hover {
  color: rgb(23, 23, 228);
}
.deleteIcon:hover {
  color: brown;
}

@media only screen and (max-width: 1333px) {
  .details {
    width: 60%;
  }
  .advImg {
    width: 100%;
    height: 18rem;
    margin: auto;
  }

  .advDescription {
    width: 70%;
  }
}
@media only screen and (max-width: 1000px) {
  .advDescription {
    margin: auto auto auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: auto;
  }
  .popup {
    top: 40%;
    width: 80%;
  }
  .details {
    display: flex;
    flex-direction: column;
    width: 60%;
    box-shadow: rgba(44, 13, 13, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .editing {
    margin-bottom: 3%;
  }
  .descriptionHead {
    margin: auto;
  }
  .description {
    padding: 3%;
    background-color: rgba(245, 245, 171, 0.4);
    border-radius: 0px 0px 10px 10px;
    line-height: 1.6;
    font-size: 1.3em;
  }
  .editing {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (max-width: 650px) {
  .details {
    width: 80%;
  }
}
.popImg {
  width: 70%;
  height: 90%;
  margin-top: 1em;
  position: relative;
}
.NOport {
  display: none;
}
.port {
  position: fixed;
  top: 20%;
  left: 0%;
  right: 0%;
  height: 70%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  background-color: rgba(15, 19, 15, 0.3);
  border-radius: 8px;
  padding: 2em;
}
.XBtn {
  color: aliceblue;
  float: left;
  cursor: pointer;
}
@media only screen and (max-width: 250px) {
  .popOptions {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  .popup {
    width: 85%;
  }
  .delete-btn,
  .cancelDlt {
    padding: 0.4em;
    font-size: 1.2em;
    width: 85%;
    border-radius: 20px;
  }
  .editing {
    display: flex;
    flex-direction: row;
    gap: 0%;
  }
}
